body{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.search {
  display: flex;
  justify-content: center;
  height: 50px;
  
}

.button {
  font-size: 1.5em;
  background-color: aquamarine;
  border-radius: 10px ;
}

.movename {
  width: 400px;
  font-size: 1.5em;
}

.detials {
 background-color: blanchedalmond;
 width: 300px;
}

.moves {
  margin: auto;
}